<div id="<%= dom_id player %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= player.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= player.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Set:</strong>
    <%= player.set %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Block:</strong>
    <%= player.block %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Serve:</strong>
    <%= player.serve %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dig:</strong>
    <%= player.dig %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Spike:</strong>
    <%= player.spike %>
  </p>

</div>
